@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

:root {
  --main-max-width: 960px;
}
:target {
  scroll-margin-top: 80px;
}

header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 64px;

  display: flex;
  justify-content: space-between;
  background-color: rgb(147 197 253);
}
#menu-button {
  display: block;
  width: 64px;
  height: 64px;
  text-align: center;
  line-height: 64px;

  color: white;
  background-color: rgb(30 64 175);
  cursor: pointer;
}

nav {
  display: flex;
  text-align: start;
  color: white;
  background-color: rgb(30 64 175);

  --max-nav-count: 2;
  --nav-border-height: 2px;
  --nav-border-color: rgb(156 163 175);;
  --nav-margin: 6px;
}
.nav-box {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
.nav-content {
  width: 100%;
  display: block;
  position: relative;
}
.nav-box > span.nav-content::before {
  content: '▼';
  display: inline-block;
  width: 1.5rem;
}
.nav-sub {
  display: block;
}
.nav-close {
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: stretch;
  }
  nav {
    flex-direction: column;
    padding: 1rem;
  }
  nav::after {
    content: '';
    display: block;
    height: var(--nav-border-height);
    border-bottom: var(--nav-border-height) dotted var(--nav-border-color);
    margin-top: calc(var(--nav-margin) - 2px);
    margin-bottom: var(--nav-margin);
  }
  .nav-content {
    display: block;
    position: relative;
  }
  .nav-box + .nav-box::before {
    content: '';
    display: block;
    height: var(--nav-border-height);
    border-bottom: var(--nav-border-height) dotted var(--nav-border-color);
    margin-top: calc(var(--nav-margin) - 2px);
    margin-bottom: var(--nav-margin);
  }

  .nav-sub {
    margin-top: 0.5rem;
    margin-left: 1.4rem;
  }
  .nav-sub .nav-content {
    padding: 0.5rem 0.1rem;
  }
  .nav-sub a.nav-content::before {
    position: absolute;
    top: calc(var(--nav-border-height) / -2);
    left: -1px;
    width: 100%;

    content: '';
    display: block;
    height: var(--nav-border-height);
    border-bottom: var(--nav-border-height) dotted var(--nav-border-color);
  }
}
@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
    align-items: end;
  }
  nav {
    max-width: 600px;
    flex-grow: 1;
  }
  nav.nav-close {
    display: flex;
  }
  #menu-button {
    display: none;
  }

  .nav-box {
    border: var(--nav-border-height) solid slategray;
    border-bottom: none;
  }
  .nav-box + .nav-box {
    border-left: none;
  }
  .nav-sub {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(80, 97, 150);
  }
  .nav-content {
    padding: 0.8rem 1rem;
  }
  a.nav-content + a.nav-content::before {
    position: absolute;
    top: calc(var(--nav-border-height) / -2);
    left: -1px;
    width: 100%;

    content: '';
    display: block;
    height: var(--nav-border-height);
    border-bottom: var(--nav-border-height) dotted var(--nav-border-color);
  }
}

main {
  margin-top: 64px;
}
main > * {
  margin: 0 max(5%, calc(100% - var(--main-max-width)) / 2);
  max-width: var(--main-max-width);
}

span {
  display: inline-block;
}
ul li {
  list-style-type: disc;
  margin-left: 1.5rem;
}

.fadein {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.fadein.is-active {
  opacity: 1;
}

.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: 2px solid rgb(30 41 59);
  border-radius: 0.5rem;
  font-size: large;
}
.link-button:hover {
  background-color: rgb(30 41 59);
  color: white;
}

footer > .links {
  display: flex;
  justify-content: center;
  gap: 1rem;

  padding: 0.5rem;
  border-bottom: 2px solid rgb(129, 141, 255);
}
footer > .links > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
}