@import "common.css";

.breadcrumbs {
  padding: 0.25rem 1rem;
  border-bottom: 1px solid rgb(3 105 161);
}

.title {
  background-image: url(../resources/65ce741864f1_l.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.title h1 {
  font-size: 2rem;
  color: white;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.6);
}

section {
  --title-block-width: max(1.5rem, 6%);
  --title-block-color: rgb(3 105 161);
  --title-font-size: 1.2rem;

  margin-top: 2rem;
  margin-bottom: 2rem;
}
section > h2 {
  width: 100%;
  font-size: var(--title-font-size);
  line-height: calc(var(--title-font-size) * 1.5);
  margin-bottom: 1rem;
  border-bottom: 3px solid var(--title-block-color);
}
section > h2::before {
  display: inline-block;
  width: var(--title-block-width);
  height: calc(var(--title-font-size) * 1.5);
  margin-right: 0.5rem;

  content: '';
  vertical-align: middle;
  background-color: var(--title-block-color);
}
section > :not(h2) {
  margin: 0.5rem 0 0.5rem var(--title-block-width);
  padding-left: 0.6rem;
}
section h3 {
  font-size: calc(var(--title-font-size) - 0.1rem);
  line-height: calc((var(--title-font-size) - 0.1rem) * 1.5);
  font-weight: 500;
  margin-top: 0.5rem;
}

.note {
  font-size: smaller;
  padding-left: 1.5em;
  position: relative;
}
.note::before {
  content: "※";
	position: absolute;
	left: 0;
	top: 0;
}

.bisection-x {
  display: flex;
  gap: 1rem 2rem;
  flex-direction: row;
  justify-content: space-between;
}
.bisection-y {
  display: flex;
  gap: 0 2rem;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 960px) {
  .bisection-x {
    flex-direction: column;
  }
  .bisection-y {
    flex-direction: row;
  }
}